.line {
    border-top: 1px solid #000a1e;
    width: 265px;
    margin: 0;
}

table.entiteit{
    margin: 1em;
    border: solid 1px gray;
    border-collapse: collapse;
}

table.entiteit th {
    border: solid 1px gray;
    background-color: #000a1e;
    color:white;
    padding: 15px;
    text-align: center;
}

table.entiteit td {
    border: solid 1px gray;
    padding: 15px;
    text-align: center;
}

caption {
    caption-side: bottom;
    margin: 10px;
}