body {
    background: url("kompas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    color: white;
    font-family: 'Oregano' , cursive;
    font-size: 25px;
}

.grid-container {
    display: grid;
}